client1 - AuctionClient.Seller may create a new auction with item offered
	- AuctionClient.Seller may provide
    - starting price
    - description of item
    - minimum acceptable price (reserve price)
	- creating an auction will return an auction ID
	- A seller can create multiple auctions
	- A seller may close the auction using the same client program, by quoting the auction ID
	- When seller closes auction, the program should indicate who the winner is, along with their details,
	    or indicate that the reserve price has not been reached

client2 - enable buyers to bid for auctioned items,
	- enable buyers to browse the list of currently active auctions
    - include current highest bid
    - reserve price is hidden
	- allow buyers to bid
    - requires auction ID, buyer name and email
	- client should indicate if bid has been accepted or not
    - explains why bid is rejected if so

auctioning server - deal with requests from the two clients 
    - allow simultaneous buyers and sellers
